<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>

        <!-- APP -->
        <script src="js/app.js"></script>

        <!-- SERVICES -->
        <script src="js/services.js"></script>

        <!-- CONTROLLERS -->
        <script src="js/controllers/course.js"></script>



        <title>Teacher</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

    </head>
    <body ng-app="vdcApp">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Vitrine do Conhecimento</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="#">{{loggedUser.name}}</a></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <select class="form-control">
                            <option>Semetre Letivo</option>
                            <option selected="">1s2014</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Procurar...">

                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="#">Geral</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="#">Documentos</a></li>
                        <li><a href="#">Calendário</a></li>
                    </ul>
                    <h4>Estrutura de Dados</h4>
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="course.html" >Cursos</a></li>
                        <li><a href="period.html">Períodos</a></li>
                        <li><a href="college-class.html">Turmas</a></li>
                        <li><a href="">Grupo</a></li>
                        <li><a href="">Projeto</a></li>
                        <li><a href="">Atividades</a></li>
                    </ul>
                    <img class="img-menu" alt="Instituição de Ensino" src="img/logo_ie.jpg" />
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Cursos</h1>

                    <div class="table-responsive" id="implicit" ng-controller="CourseController">
                        <fieldset>
                            <form class="well">
                                <label>Nome:
                                    <input class="form-control" ng-model="newCourse.name" />
                                </label>
                                
                                <input type="hidden" ng-model="newCourse.id" />
                                <input class="btn" type="button" ng-click="save()" value="Salvar Curso" />
                            </form>
                        </fieldset>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="course in courseList">
                                    <td>{{course.id}}</td>
                                    <td>{{course.name}}</td>
                                    <td>
                                        <a href="javascript://" ng-click="edit(course.id)" class="btn-associate" >Editar</a>
                                        <a href="javascript://" ng-click="delete(course.id)" class="btn-associate" >Excluir</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="js/constants.js"></script>
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script src="js/model/teacher.js"></script>
    <script src="js/screen/teacher.js"></script>
</html>
